<%-include("./partials/header")%>
  <div
    class="updateUserForm rounded-[20px] w-[500px] h-[80%]  absolute left-[50%] top-[15%] -translate-x-[50%] pt-2 pl-2 pr-2 ">
    <h1
      class="h-[10%] rounded-[10px]   text-white flex font-semibold justify-center items-center text-3xl mb-2 w-[100%]">
      Register
      Form</h1>
    <form class="pt-5 h-[90%]  flex flex-col items-center   " action="/user/register" method="post">
      <input class="  border-black   h-[8%] mb-8 rounded-[10px] w-[80%] pl-5" type="text" name="username"
        placeholder="Enter Username" id="">
      <input class=" border-black    h-[8%] mb-8 rounded-[10px] w-[80%] pl-5" type="email" name="email"
        placeholder="Enter Email" id="">
      
      <input class=" border-black    h-[8%] mb-8 rounded-[10px] w-[80%] pl-5" type="text" name="address"
        placeholder="Enter Address">

      <div class="   h-[8%]  mb-8 text-[17px]  rounded-[10px] w-[80%] flex pl-5 justify-center gap-10 ">
        <div  class="text-white    border-white border-[1px] hover:bg-white hover:border-white hover:text-black   rounded-[5px] w-max flex items-center  pl-5 font-semibold pr-5">
          <input class="" type="radio" name="role" id="seller" value="seller"> <label class="ml-1 mb-[2px]" for="seller">Seller</label>
        </div>

        <div class=" text-white    border-white border-[1px] hover:bg-white hover:border-white hover:text-black  rounded-[5px] w-max flex items-center pl-5 pr-5 font-semibold">
          <input class="" type="radio" name="role" id="buyer" value="buyer"> <label class="ml-1 mb-[2px]" for="buyer">Buyer</label>
        </div>
      </div>

      <input class=" border-black    h-[8%] mb-5 rounded-[10px] w-[80%] pl-5" type="password" name="password"
        placeholder="Create Password" id="">
      <button
        class=" pt-3  pl-[2.5vmax] pr-[2.5vmax] pb-3 text-white    border-white border-[1px] hover:bg-white hover:border-white hover:text-black   mt-10 rounded-[10px]   font-semibold">Register</button>
    </form>
  </div>
  
  <%-include("./partials/footer")%>