<%-include("./partials/header")%>
  <div class=" rounded-[20px] w-[500px] h-[80%] bg-zinc-900 absolute left-[50%] top-[15%] -translate-x-[50%] pt-2 pl-2 pr-2 ">
    <h1 class="h-[10%] rounded-[10px]   text-white flex font-semibold justify-center items-center text-3xl mb-2 w-[100%]">Reset Password Form </h1>
  <form class="pt-5 h-[90%]  flex flex-col  items-center mt-10   " action="/profile/resetPassword/<%=user._id%>" method="post">
    <input class="  border-black   h-[8%] mb-8 rounded-[10px] w-[80%] pl-5" type="text" name="username" placeholder="Enter Username" type="text" name="oldPassword" placeholder="Enter Old Password" id="">
    <input class="  border-black   h-[8%] mb-8 rounded-[10px] w-[80%] pl-5" type="text" name="username" placeholder="Enter Username" type="password" name="newPassword" placeholder="Enter New Password" id="">
    <button class=" pt-3  pl-[2.5vmax] pr-[2.5vmax] pb-3 text-white    border-white border-[1px] hover:bg-white hover:border-white hover:text-black  mt-10  rounded-[10px]   font-semibold">Reset</button>
  </form>
  </div>
<%-include("./partials/footer")%>