<%-include("./partials/header")%>
    <div class="  flex absolute  top-[10%] flex-col gap-10 justify-center  items-center h-[670px] w-full ">
      <div class=" updateUserForm flex text-white flex-col gap-10 justify-center  items-center h-[600px] rounded-[20px]  w-[80%] ">
        <h1 class="text-[15vh] font-bold">Payment is Done</h1>
      <h2 class="text-[5vh] font-bold">Thanks For Making Purchase</h2>
      <a class="  pl-[5vh] rounded-[10px] font-semibold pr-[5vh] pt-[2vh] pb-[2vh] text-xl mt-10 hover:bg-white hover:text-black bg-black text-white hover:border-[3px] hover:border-black" href="/profile">Continue Shopping</a>
      </div>
      
    </div>

<%-include("./partials/footer")%>